asgiref==3.2.10
asn1crypto==0.24.0
cffi==1.14.0
configparser==3.5.0b2
cryptography==2.3
Django==3.0.8
entrypoints==0.3
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==15.1.0
keyrings.alt==3.1
Pillow==7.2.0
pkg-resources==0.0.0
pycparser==2.20
pycrypto==2.6.1
pytz==2020.1
SecretStorage==2.3.1
six==1.11.0
sqlparse==0.3.1
