{% extends 'players/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    {% load filters %}
    <div class="card">
        <div class="card-body">
            <p>Enter your registered email below. We will send you a link to reset your password.</p> 
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="col">{{ form.email.label }}:</div>
                    <div class="col">{{ form.email|add_class:'form-control' }}</div>
                    <div class="col">{{ form.email.errors }}</div>
                    <div class="col"><input type="submit" class="btn btn-primary btn-block" value="Send"></div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}