{% extends 'players/base.html' %}

{% block title %}Reset Password{% endblock %}
{% load filters %}
{% block content %}
    <div class="card">
        {% if validlink %}
            <h1 class="card-header">Enter New Password</h1>
            <div class="card-body">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row">
                            <div class="col">{{ field.label }}</div>
                            <div class="col">{{ field|add_class:'form-control' }}</div>
                            <div class="col">{{ field.errors }}</div>
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Reset">
                </form>
            </div>
        {% else %}
            <h1 class="card-header bg-danger text-white">Invalid Link</h1>
            <div class="card-body">
                <p>This link is invalid. It could have been caused because the link has 
                    already been used.</p>
            </div>
        {% endif %}    
    </div>

    {% endblock %}